---
Language: Cpp
BasedOnStyle: Google

# C++23
Standard: Latest

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

# Line length
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# Namespaces
NamespaceIndentation: None
CompactNamespaces: false

# Pointer alignment
PointerAlignment: Left

# Comments
ReflowComments: true
SpacesBeforeTrailingComments: 2
